$font:'Roboto', sans-serif; 
$fontRegular:'400';
$fontBold:'700';
$cinzaClaro: #f1f2f2;
$cinzaEscuro: #a5a5a5;
$fontCinzaEscuro: #595959;
$fontCinzaClaro: #9e9e9e;
$azul: #388dc0;
$rosa: #ed1951;
$branco: #ffffff;
$break-small: 40em;


/*INICIO RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: $font;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*FIM RESET*/



@media screen and (max-width: $break-small){
	.topo .menu {
		display:none;
	}

	.slicknav_menu {
		display:block!important;
        background-color: $cinzaEscuro;
	}
    .slicknav_btn, .slicknav_nav{
        background-color: $cinzaEscuro;
    }

    .bannerTitle{
        border:none !important;
        margin-top: 1rem !important;
        margin-left: 1.25em;
        & h2{
            font-size: 0.8em !important;
            color: $rosa !important;
        }
    }

    .content{
        & .passos{
            &:nth-child(1){
                margin-left: 0!important;
            }
        }
    }

    footer{
        & ul {
            & li{
                margin: 20px auto!important;
            }
        }
        & >div.row >div{
            margin-bottom: 15px !important;
        }
    }
}


.topo{
    background-color: $cinzaClaro;
    padding: 15px 0;
    & .logo{
        margin: 0 auto;
        text-align: center;
    }
    & .menu{
        margin-top: 10px;
        & ul{
            & li{
                display: inline-block;
                & a{
                    font-family: $font;
                    color: $fontCinzaClaro;
                    font-size: 1em;
                    font-weight:$fontRegular;
                    text-transform: uppercase;
                    padding: 15px 14px;
                    text-align: center;
                    &:hover, :active, :focus{
                        background-color: $rosa;
                        color: $branco;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.slicknav_menu{
    display: none;
}
.submenu{
    & ul{
        & li{
            display: inline-block;
            padding: 20px 25px;
            & a{
                text-transform: uppercase;
                color: $fontCinzaClaro;
                & span{
                    font-size: 0.8em;
                }
            }
        }
    }
}
.search{
    margin-top: 20px;
    & button{
        background-image: url(../img/search.png);
        background-color: $branco;
        border:none;
        padding: 15px;
        background-repeat: no-repeat;
    }
    & input{
        border-radius: 20px;
        border:1px solid $cinzaEscuro;
    }
}
.banner{
    margin-bottom: 5em;
    & img{
        width: 100%;
    }
    & .bannerTitle{
        position: absolute;
        margin-top: -20rem;
        border: 2px solid $branco;
        border-radius: 5px;
        padding: 20px 0;
        & h2{
            text-align: center;
            text-transform: uppercase;
            color: $branco;
            font-size: 2em;
        }
    }
}
.content{
    & p{
        color: $fontCinzaClaro;
        font-size: 1.25em;
    }
    & h3{
        color: $rosa;
        font-size: 1.8em;
        margin-top: 25px;
    }
    & ul{
        & .passos{
            display: inline-block;
            margin-top: 25px;
            margin-right: 25px;
            & span{
                color: $azul;
                font-weight: $fontBold;
                font-size: 1.2em;
            }
            & i{
                color: $branco;
                font-size: 3em;
                border: 1px solid $azul;
                border-radius: 50%;
                padding: 35px 0;
                width: 125px;
                background-color: $azul;
            }
            & p{
                color: $azul;
                font-size: 0.8em;
                margin-top: 25px;
            }
            &:nth-child(1){
                margin-left: 20px;
            }
            &:nth-child(3){
                & i{
                    transform: rotate(-45deg);
                }
            }
        }
    }
    & .observacao{
        & p{
            color: $fontCinzaClaro;
            font-size: 1.25em;
            margin: 25px 0;
        }
        & span{
            color: $fontCinzaClaro;
            font-size: 0.7em;
        }
    }
}
.linha{
    height: 35px;
    background-color: $cinzaClaro;
    margin-top: 25px;
}
.siteMap{
    & .colunas{
        margin-top: 25px;
        & li{
            margin-bottom: 15px;
        }
        & h4{
            text-transform: uppercase;
            color: $fontCinzaEscuro;
            margin-bottom: 10px;
        }
        & a{
           color: $fontCinzaClaro;
        }
    }
    & .social{
        & h4{
            text-transform: uppercase;
            color: $fontCinzaEscuro;
            margin-bottom: 10px;
            margin-top: 25px;
        }
        & li{
            display: inline-block;
            margin-right: 10px;
            margin-top: 25px;
            & i{

                padding: 10px 0;
                width: 45px;
                border-radius: 50%;
                color: $fontCinzaClaro;
                font-size: 1.2em;
                border: 2px solid $fontCinzaClaro;
                text-align: center;
                &:hover{
                    color: $azul;
                    border: 2px solid $azul;
                }
            }
        }
    }
}
footer{
    background-color: $cinzaClaro;
    height: auto;
    margin-top: 25px;
    & ul{
        & li{
            display: inline-block;
            margin: 60px 20px 40px 0;;
            & h4{
                text-transform: uppercase;
                color: $fontCinzaEscuro;
            }
        }
    }
    & p{
        color: $fontCinzaClaro;
        font-size: 0.9em;
    }
}
